<header class="header">
    <nav class="navigation">
        <a class="navigation__logo" href="/">
            Dusza na Dłoni
        </a>
        <a class="navigation__link" href="/wiersze">
            Wiersze
        </a>
        <a class="navigation__link" href="/">
            Biografia
        </a>
    </nav>
</header>
