<header class="header">
    <nav class="navigation">
        <a class="navigation__logo">
            Dusza na Dłoni
        </a>
        <a class="navigation__link">
            Wiersze
        </a>
        <a class="navigation__link">
            Biografia
        </a>
    </nav>
</header>
