{% extends "base.njk" %}

{% set previousPoem = collections.poem | getPreviousCollectionItem(page) %}
{% set nextPoem = collections.poem | getNextCollectionItem(page) %}

{% block mainblock %}
<nav class="poem-nav">
  {% if previousPoem %}
  <a class="poem-nav__prev"
     href="{{ previousPoem.url }}"
     title="{{ previousPoem.data.title }}">
    <i class="poem-nav__img fa fa-arrow-circle-left fa-3x" aria-hidden="true"></i>
  </a>
  {% endif %}
  {% if nextPoem %}
  <a class="poem-nav__next"
     href="{{ nextPoem.url }}"
     title="{{ nextPoem.data.title }}">
    <i class="poem-nav__img fa fa-arrow-circle-right fa-3x" aria-hidden="true"></i>
  </a>
  {% endif %}
</nav>

<article class="poem__content">
  <section class="poem__intro">
    {{ title }}
  </section>

  {{ content | safe }}
  <footer class="poem__outro">
    {{ location }}, {{ page.date | readableDate }}
  </section>
</article>
{% endblock %}
