{% extends "base.njk" %}

{% block mainblock %}
<article class="poem-toc">
  <ul class="poem-toc__list">
    {% for poem in collections.poem -%}
    <li class="poem-toc__item">
      <a class="poem-toc__link"
         href="{{ poem.url }}">
        {{ poem.data.title }}
      </a>
    </li>
    {% endfor -%}
  </ul>
</article>
{% endblock %}
