body {
  min-height: 100vh;
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 1.5em;
  color: #303030;
}

a:link,
a:visited {
  color: #303030;
}

.container {
  position: relative;
}

.container:after {
  content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity : 0.9;
  z-index: -1;
  background-size: cover;
}

.main {
  height: 100vh;
  width: 550px;
  margin-left: 200px;
  background-color: rgba(256, 256, 256, 0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.header {
  width: 100%;
  height: 4em;
}

.nav {
  font-family: 'Marck Script', cursive;
  height: 100%;
  font-size: 32px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav__link:hover,
.nav__link:active {
  color: #8ebcd2;
}

.bio {
  margin-top: 2em;
}

.poem-toc {
  margin-top: 2em;
}

.poem-toc__item {
  margin-bottom: 0.5em;
}

.poem-toc__link:hover,
.poem-toc__link:active {
  color: #8ebcd2;
}

.poem-nav__img {
  color: rgba(256, 256, 256, 0.95);
}

.poem-nav__next {
  position: absolute;
  top: 100px;
  left: 800px;
}

.poem-nav__prev {
  position: absolute;
  top: 100px;
  left: 100px;
}

.poem__intro {
  font-size: 1.5em;
  margin: 0.5em 0 1em 0;
}

.poem__content p {
  margin-bottom: 1em;
}

.footer {
  margin-top: auto;
}

.footer__text {
  margin: 3em 0 1em 0;
  font-size: 0.8em;
}
