body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 5em auto 3em;
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 1.2em;
    text-align: justify;
    color: #303030;
}

a:link,
a:visited {
    text-decoration: none;
    color: #303030;
}

a:hover,
a:active {
    text-decoration: none;
    color: #0000EE;
}

.header {
    margin-top: 1em;
}

.navigation {
    font-family: 'Marck Script', cursive;
    font-size: 32px;
    line-height: 48px;
}

.navigation {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}

.navigation a:hover,
.navigation a:active {
    text-decoration: none;
    cursor: pointer;
    color: #0000EE;
}

.main {
    margin: 0 auto;
}

.poem-list a {
    color: #3a3a3c;
}

.poem-list__item {
    line-height: 2em;
}

.poem-list__item a:hover,
.poem-list__item a:active {
    text-decoration: none;
    cursor: pointer;
    color: #0000EE;
}

.poem__header {
    color: #3a3a3c;
    font-size: 1.5rem;
    margin-bottom: 1.5em;
    text-align: center;
}

.poem__header a:hover,
.poem__header a:active {
    text-decoration: none;
    cursor: pointer;
    color: #0000EE;
}

.poem p {
    margin-bottom: 1em;
}

.poem__header {
    display: grid;
    grid-template-columns: 50px auto 50px;
}

.footer {
    margin-top: 1em;
}

.footer__text {
    text-align: center;
    font-size: 0.8em;
}